[Unit]
Description=Run nginx with podman
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/container-nginx.pid %t/container-nginx.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/container-nginx.pid --cidfile %t/container-nginx.ctr-id -p 8080:80 --cgroups=no-conmon -d --replace --name nginx docker.io/library/nginx:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-nginx.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-nginx.ctr-id
PIDFile=%t/container-nginx.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
